{%  extends 'base.html' %}

    {% block body_block %}

         <form method="post" action="" enctype="multipart/form-data">

          {% csrf_token %}
         <p> <label>Add Photo</label>
             <input type="file" name="photo">
         </p>
         <p>
          <h1><label>Name</label></h1>
          <input type="text" name="name" >
         </p>

          <p>
          <label>Add Description</label>
          <input type="text" name="description" >
          </p>

          <p>
          <label>Fb link</label>
          <input type="text" name="linkfb" >
          </p>

           <p>
          <label>Insta Link</label>
          <input type="text" name="linkinsta" >
         </p>

          <p>
          <label>Linkedin Link</label>
          <input type="text" name="linklin" >
          </p>

          <p>
          <label>Designation</label>
          <input type="text" name="designation" >
          </p>

          <p>

          <input type="submit" name="submit" value="submit" >
          </p>



      </form>

    {% endblock %}